 h2 {
	text-align: center;
	font-size: 30px;
}
h3 {
	text-align: center;
	font-size: 30px;
}

.markaz {
	text-align: center;
}
.markaz img {
	width: 260px;
	height: 261px;
}
.shapka {
	text-align: center;
}
.shapka img {
	width: 500px;
	height: auto;
}
.royxat {
	font-size: 30px;
}
h1 {
	text-align: center;
}
p {
	text-align: center;
	font-size: 30px;
}
.icon {
	display: flex;
	justify-content: center;
	font-size: 30px;
	background-color: YELLOW;
	color: inherit;
	text-decoration: none;
	pointer-events: none;
	cursor: default;
}
.icon ul {
	list-style-position: inside;
	text-align: center;
}
.matn {
	font-size: 20px;
	background-color: orange;
}
.rasmlar img {
	width: 200px;
	height: 201px;
}
